@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.form-container {
    width: 482px;
    margin: 50px auto;
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
    font-size: 20px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

input[type="button"]:hover {
    font-size: 20px;
    background-color: #45a049
}

input[type="email"], input[type="tel"], input[type="text"], input[type="date"],input[type="address"], select {
    font-size: 20px;
}

br {
    margin-bottom: 10px;
}
